<%- include('header') -%>
<% //Generate Post Content
posts.forEach( (post) =>{ %>
  <article id="<%= post._id %>">
    <h2><a href="blog/<%= post._id %>" target="_self"><%= post.title %></a></h2>
    <cite data-name="<%= post.authorId %>"><%= post.authorId %></cite>
    <time><%=  (post.date).format('Do MMMM, YYYY'); %></time>
  </article>
<% }) %>
<%- include('footer') -%>
<%- include('script') -%>