<%- include('header') -%>
<% //Generate Post Content
posts.forEach( (post) =>{ %>
  <article id="<%= post._id %>">
    <img src="assets/<%= post.author.alias %>/<%= post.img.fp %>/<%= post.img.name %>.<%= post.img.suffix %>" />
    <h2><a href="blog/<%= post._id %>" target="_self"><%= post.title %></a></h2>
    posted on <time><%= post.date %></time><br>
    <cite data-name="<%= post.author.name %>">by <%= post.author.alias %></cite>
  </article>
<% }) %>
<%- include('footer') -%>
<%- include('script') -%>